# ADM - HW5 - The Marvel Universe!

## Libraries & Setup

In [1]:
import networkx as nx   # Network analysis

import pandas as pd   # Data manipulation and analysis
import numpy as np    # Scientific Computing

import matplotlib.pyplot as plt   # Visualization

import warnings
warnings.filterwarnings('ignore')

#import functions

# 1. Data

## Data Preprocessing

In [2]:
nodes_df = pd.read_csv("nodes.csv")
edges_df = pd.read_csv("edges.csv")
hero_network_df = pd.read_csv("hero-network.csv")

In [4]:
nodes_df

                       node   type
0                   2001 10  comic
1                    2001 8  comic
2                    2001 9  comic
3      24-HOUR MAN/EMMANUEL   hero
4      3-D MAN/CHARLES CHAN   hero
...                     ...    ...
19085           ZOTA, CARLO   hero
19086                  ZOTA   hero
19087                 ZURAS   hero
19088                  ZURI   hero
19089                 ZZZAX   hero

[19090 rows x 2 columns]

In [5]:
edges_df

                       hero     comic
0      24-HOUR MAN/EMMANUEL    AA2 35
1      3-D MAN/CHARLES CHAN     AVF 4
2      3-D MAN/CHARLES CHAN     AVF 5
3      3-D MAN/CHARLES CHAN     COC 1
4      3-D MAN/CHARLES CHAN    H2 251
...                     ...       ...
96099                 ZZZAX    H2 326
96100                 ZZZAX    H2 327
96101                 ZZZAX  M/CP 8/4
96102                 ZZZAX     PM 47
96103                 ZZZAX   WCA2 12

[96104 rows x 2 columns]

In [6]:
hero_network_df

                       hero1                 hero2
0              LITTLE, ABNER        PRINCESS ZANDA
1              LITTLE, ABNER  BLACK PANTHER/T'CHAL
2       BLACK PANTHER/T'CHAL        PRINCESS ZANDA
3              LITTLE, ABNER        PRINCESS ZANDA
4              LITTLE, ABNER  BLACK PANTHER/T'CHAL
...                      ...                   ...
574462  COLOSSUS II/PETER RA              CALLISTO
574463              CALLISTO               ROGUE /
574464              CALLISTO              CALIBAN/
574465              CALIBAN/               ROGUE /
574466  HULK/DR. ROBERT BRUC     MARKS, DR. SHIELA

[574467 rows x 2 columns]

For the data to be *consistent* across all the dataframes, **all hero names** appearing in the *hero_network* dataframe should **also be found** in the *edges* dataframe

In [3]:
# Retrieve heroes' names appearing in "hero_network" dataframe, but not in "edges" dataframe
def check_inconsistency():
    names = set(hero_network_df.hero1).union(set(hero_network_df.hero2)).difference(set(edges_df.hero))
    out = names if len(names)!=0 else "No inconsistencies found!"
    return out

In [4]:
# Some inconsistency examples
list(check_inconsistency())[:10]

['RAPTOR II/PROFESSOR ',
 'MISSING LINK II/RAY ',
 'MARROW/SARAH ',
 'DEATH STING/MIRANDA ',
 'ZEMO/BARON HEINRICH ',
 'ROCKET RACER/ROBERT ',
 'MAGNETO/MAGNUS/ERIC ',
 'DOC SAMSON | MUTANT ',
 'LECLAIRE, PROFESSOR ',
 'GRIMM, BEN | MUTANT ']

**Inconsistency reason 1:** some heroes' names in the *hero_network* dataframe have **extra spaces** at the end of their names

In [4]:
hero_network_df.hero1 = [x.strip() for x in hero_network_df.hero1]
hero_network_df.hero2 = [x.strip() for x in hero_network_df.hero2]

In [6]:
check_inconsistency()

{'BLADE', 'SABRE', 'SPIDER-MAN/PETER PAR'}

**Inconsistency reason 2:** some heroes in the *hero_network* dataframe **are missing a "/"** at the end of their names. In fact, *BLADE* and *SABRE* are labelled as **comics** in the *nodes* dataframe, while *BLADE/* and *SABRE/* represent the actual **heroes**

In [5]:
hero_network_df.loc[hero_network_df["hero1"] == "BLADE", "hero1"] = "BLADE/"
hero_network_df.loc[hero_network_df["hero2"] == "BLADE", "hero2"] = "BLADE/"
hero_network_df.loc[hero_network_df["hero1"] == "SABRE", "hero1"] = "SABRE/"
hero_network_df.loc[hero_network_df["hero2"] == "SABRE", "hero2"] = "SABRE/"

In [8]:
check_inconsistency()

{'SPIDER-MAN/PETER PAR'}

**Inconsistency reason 3:** the hero name *"SPIDER-MAN/PETER PARKER"* in the *edges* dataframe has been changed to *"SPIDER-MAN/PETER PAR"* the *hero_network* dataframe

In [8]:
hero_network_df.loc[hero_network_df["hero1"] == "SPIDER-MAN/PETER PAR", "hero1"] = "SPIDER-MAN/PETER PARKER"
hero_network_df.loc[hero_network_df["hero2"] == "SPIDER-MAN/PETER PAR", "hero2"] = "SPIDER-MAN/PETER PARKER"

In [10]:
check_inconsistency()

'No inconsistencies found!'

We also remove entries of the *hero_network* dataframe having the same hero in **both columns** (in order to avoid **self-loops** in the graph)

In [11]:
# With self-loop records
len(hero_network_df)

574467

In [9]:
hero_network_df.drop(hero_network_df[hero_network_df['hero1'] == hero_network_df['hero2']].index, inplace = True)

In [13]:
# Without self-loop records
len(hero_network_df)

572235

Finally, we identify and correct the **spelling mistake** in the hero name *"SPIDER-MAN/PETER PARKER"* present in the *nodes* dataframe (listed as *"SPIDER-MAN/PETER PARKERKER"*)

In [10]:
nodes_df.loc[nodes_df["node"] == "SPIDER-MAN/PETER PARKERKER", "node"] = "SPIDER-MAN/PETER PARKER"

## Graphs setup

### First graph: G1 - Heroes appearing in the same comic together

The graph **G1** should be **undirected**, **weighted** and should allow for **parallel edges**.

* **Nodes**: *heroes*

* **Edge** between node *Hero_A* and *Hero_B*: the heroes have appeared in the same comic together

* **Number of edges** between node *Hero_A* and *Hero_B* = $num\_collaborations$ of the two heroes

* **Edge weight**: the *reciprocal* of the *number of collaborations* of the two heroes

$$w((Hero\_A, Hero\_B)) = \frac{1}{num\_collaborations \; of \; Hero\_A \; and \; Hero\_B}$$

In [11]:
# NetworkX MultiGraph: undirected graph, can store multiedges
G1 = nx.MultiGraph()

In [12]:
# Sort the pair of heroes in each record (since the graph is undirected, we are interested in grouping together pair of names, irrespectively of their order)
hero_network_df[["hero1", "hero2"]] = np.sort(hero_network_df[["hero1", "hero2"]], axis=1)

# Group by pair of names and retrieve group size
heroes_pairs = (hero_network_df.groupby(["hero1", "hero2"]).size().reset_index().values.tolist())

In [17]:
# Some pair of heroes and their number of collaborations
heroes_pairs[:10]

[['24-HOUR MAN/EMMANUEL', 'FROST, CARMILLA', 1],
 ['24-HOUR MAN/EMMANUEL', "G'RATH", 1],
 ['24-HOUR MAN/EMMANUEL', 'KILLRAVEN/JONATHAN R', 1],
 ['24-HOUR MAN/EMMANUEL', "M'SHULLA", 1],
 ['24-HOUR MAN/EMMANUEL', 'OLD SKULL', 1],
 ['3-D MAN/CHARLES CHAN', 'AJAK/TECUMOTZIN [ETE', 1],
 ['3-D MAN/CHARLES CHAN', 'ANGEL/WARREN KENNETH', 1],
 ['3-D MAN/CHARLES CHAN', 'ANT-MAN II/SCOTT HAR', 1],
 ['3-D MAN/CHARLES CHAN', 'ANT-MAN/DR. HENRY J.', 2],
 ['3-D MAN/CHARLES CHAN', 'ARABIAN KNIGHT/ABDUL', 1]]

In [13]:
# Build weighted edges
heroes_collaboration = []

for x in heroes_pairs:
    for i in range(x[2]):
        heroes_collaboration.append(tuple([x[0], x[1], round(1/x[2], 4)]))

In [14]:
# Add edges to graph
G1.add_weighted_edges_from(heroes_collaboration)

### Second graph: G2 - Hero appearing in a specific comic

The graph **G2** should be **undirected** and **unweighted**.

* **Nodes**: *heroes* and *comics*

* **Edge** between node *Hero_A* and *Comic_A*: the hero has appeared in that specific comic

In [15]:
# NetworkX Graph: base undirected graph
G2 = nx.Graph()

In [16]:
# Add nodes with "type" attribute to graph
G2.add_nodes_from([(x[0], {"type": x[1]}) for x in nodes_df.to_records(index=False)])

In [17]:
# Add edges between heroes and comics to graph
G2.add_edges_from(list(edges_df.to_records(index=False)))

# 2. Backend Implementation

## Functionality 1

In [18]:
# Function that returns a list of top N heroes who have appeared in the most number of comics
def top_n(N = -1):
    # dictionary of the top N heros based on their degree in Graph 2 (number of apparision in comics)
    top_heros = sorted(dict(G2.degree()).items(), key=lambda x:x[1] , reverse = True)[:N]
    top_list  = []
    for hero in top_heros:            # Loop over the top heros
        top_list.append(hero[0])      # Append the hero name
    return top_list

In [20]:
# Function that returns number of nodes for a given graph 
def Number_of_nodes(G, type : int , N = -1 ):
    if type == 1:
        G = G.subgraph(top_n(N))    # Create the subgraph of the top N heros
        return G.number_of_nodes()  # returns the number of nodes
    else:
        G = G.edge_subgraph(G.edges(top_n(N)))  # Create the subgraph that contains the top N heros
        number_of_nodes_comic = G.subgraph(list(edges_df['comic'].values)).number_of_nodes()
        number_of_nodes_hero  = G.subgraph(list(edges_df['hero'].values)).number_of_nodes()
        return number_of_nodes_comic , number_of_nodes_hero

In [22]:
# Function that returns the number of collaborations for Graph 1
def Number_of_collaboration(G , type: int , N = -1 ):
    if type != 1:
        raise Exception("Only valid fot type 1")
    G = G.subgraph(top_n(N)) 
    return G.number_of_edges()

In [23]:
# Function that returns the number of hero for a given comic
def Number_of_hero_for_each_comic(G , type: int , N = -1 ):
    if type != 2:
        raise Exception("Only valid for type 2")
    G = G.edge_subgraph(G.edges(top_n(N)))
    comics = list(edges_df['comic'].values)  # list of all the comics
    return G.degree(comics)                  # Degree distibution of each comic ( how many heros appear for a given comic)

In [24]:
# Function that returns the density of a graph
def Density(G, type : int , N = -1):
    if type == 1:
        G = G.subgraph(top_n(N))
    else: 
        G = G.edge_subgraph(G.edges(top_n(N)))
    return nx.density(G)

In [26]:
# Function that return the degree distribution of a graph
def degree_distribution(G , type: int , N = -1):
    if type == 1:
        G = G.subgraph(top_n(N))
    else: 
        G = G.edge_subgraph(G.edges(top_n(N)))
    dist  = sorted(( d for n , d in G.degree()), reverse=True)
    return dist

In [27]:
# Function that returns the average degree of a graph
def average_degree(G, type: int , N = -1 ):
    if type == 1:
        G = G.subgraph(top_n(N))
    else: 
        G = G.edge_subgraph(G.edges(top_n(N)))
    avg = np.mean(degree_distribution(G , type , N )) # Compute the mean of the degree of each node
    return avg

In [28]:
# Function that returns the hubs of a graph
def Hubs( G , type: int, N = -1):
    if type == 1:
        G = G.subgraph(top_n(N))
    else: 
        G = G.edge_subgraph(G.edges(top_n(N)))

    dist = degree_distribution(G , type , N )    # degree distribution

    threshold = np.quantile( dist, .95)          # value grater than 95% of all the degree 

    hubs = {}                                    # dictionary of the hubs of the network
    
    for nodes , degree in G.degree():            # loop over the nodes
        if degree >= threshold:                  # check if is greater than the threshold
            hubs[f"{nodes}"] = degree            # Update the hubs dictionary
    return hubs

In [29]:
# Function that return if a Network is sparse or dense
def Sparse_or_dense( G , type : int , N = -1):
    if type == 1:
        G = G.subgraph(top_n(N))
    else: 
        G = G.edge_subgraph(G.edges(top_n(N)))
    threshold = 0.5
    Den = Density( G , type , N)
    if Den < threshold:
        x = ('sparse.')
    else:
        x = ('dense.')
    g = f"The graph is {x}"
    return g

# 3. Frontend Implementation

## Visualization 1

In [63]:
n = 300
type_1 = 1
type_2 = 2
data = [type_1,n,
        Number_of_nodes(G1, type = 1 , N = n),
        Density(G1 , type = 1 , N = n),
        average_degree(G1, type = 1 , N = n), 
        Sparse_or_dense(G1 , type = 1, N = n)]

data_2 = [type_2, n,
        Number_of_nodes(G2, type = 2 , N = n),
        Density(G2 , type = 1 , N = n),
        average_degree(G2, type = 2 , N = n), 
        Sparse_or_dense(G2 , type = 2, N = n)]

col_names = ["Graph type","N","Number_of_nodes", "Density", "average_degree", "Sparse_or_dense" ]

In [64]:
# Importing PrettyTable class from prettytable library
from prettytable import PrettyTable

# Creating instance of PrettyTable class
my_table = PrettyTable(col_names)

# Creating a list that we want to tabulate
my_table.add_row(data)
my_table.add_row(data_2)


# Printing the tabulated list
print(my_table)

+------------+-----+-----------------+----------------------+--------------------+----------------------+
| Graph type |  N  | Number_of_nodes |       Density        |   average_degree   |   Sparse_or_dense    |
+------------+-----+-----------------+----------------------+--------------------+----------------------+
|     1      | 300 |       288       |  5.3470286488579175  | 1534.5972222222222 | The graph is dense.  |
|     2      | 300 |   (11829, 476)  | 0.013957636566332218 | 9.153514831369362  | The graph is sparse. |
+------------+-----+-----------------+----------------------+--------------------+----------------------+

In [102]:
list(Hubs(G1, 1 , N = 20).keys())

['CAPTAIN AMERICA']

In [103]:
list(Hubs(G2, 2 , 10).keys())

['FF 226',
 'HR:R 1',
 'FF 263',
 'GAL 3',
 'FF 129',
 'M/TIO 8',
 'FF 359',
 'FF 294',
 'WM2 14',
 'X 55',
 'FF 253',
 'FF 293',
 'M/SHSW 5',
 'DF 2.3',
 'FF 4',
 'SS3 93',
 'FF 277',
 'FF3 39',
 'SWII 5',
 'M/SHSW 6',
 'ST 101',
 'IG 4',
 'FF 248',
 'FF 74',
 'FF 103',
 'FF 301',
 'FF 230',
 'FF 66',
 'GSM-T 2',
 'UX 167',
 'FF 2',
 'FF 99',
 'FF 188',
 'FF 102',
 'FF 106',
 'DAZZ 21',
 'FF 109',
 'HULK/DR. ROBERT BRUC',
 'M/SHSW 3',
 'DEF 10',
 'A 82',
 'FF3 41',
 'FF 336',
 'FF 149',
 'ASM 1',
 'FF 360',
 'FF 23',
 'FF 98',
 'FF 92',
 'ST 120',
 'Q 60',
 'FF 18',
 'FF 195',
 'FF 341',
 'GZILL 24',
 'FF 251',
 'ST 111',
 'M/TU 9',
 'FF 104',
 'CA2 12',
 'FF 370',
 'FF2 4',
 'FF 183',
 'FF 75',
 'ASM2 4',
 'A 330',
 'AF 94',
 'A 25',
 'FF3 33',
 'M/TIO 78',
 'DAZZ 3',
 'FF 96',
 'TM:ID',
 'FF3 12',
 'FF3 35',
 'FF 42',
 'FF 141',
 'FF 191',
 'FF 201',
 'INVISIBLE WOMAN/SUE',
 'FF 79',
 'DEF 107',
 'FF 152',
 'M/TIO 69',
 'FF 217',
 'SWII 9',
 'XM 59',
 'FF 178',
 'MAXSEC 3',
 'FF 354',
 'M/TIO 83',
 'SENSM 28',
 'FF3 5',
 'H2 284',
 'A 300',
 'FF 17',
 'FF 411',
 'FF 238',
 'GAL 5',
 'GAL 6',
 'FF 243',
 'MAXSEC 2',
 'FF 52',
 'T 405',
 'TB 12',
 'FF2 1',
 'FF 362',
 'DEF 11',
 'FF 351',
 'FF 41',
 'FF 202',
 'IW 1',
 'FF 135',
 'FF 350',
 'FF 338',
 'FF 61',
 'FF 408',
 'A 318',
 'FF 358',
 'FF 32',
 'PP 36',
 'A 266',
 'FF 50',
 'FF 13',
 'TB 44',
 'FF 409',
 'A 60',
 'M/FAN 2/2',
 'FF 327',
 'FF2 6',
 'FF 16',
 'FF 209',
 'FF 366',
 'FF 47',
 'A 88',
 'FF2 8',
 'M/FAN 46',
 'FF 24',
 'XF 5',
 'FF3 38',
 'FF 264',
 'NW 16',
 'A 116',
 'FFV.X 4',
 'HR:R 3',
 'FF 100',
 'ASM 1/2',
 'MICRO 14',
 'SUB-M2 3',
 'ST 121',
 'FF 70',
 'WOLVERINE/LOGAN',
 'FF3 26',
 'MEPHV. 2',
 'M/TIO 96',
 'NW 17',
 'FF3 31',
 'IW 3',
 'A 100',
 'ASM 3',
 'A 303',
 'FF 184',
 'M/TIO 9',
 'FF 210',
 'H2 300',
 'ST 110',
 'FF3 32',
 'WCA2 22',
 'MARVELS 3',
 'S-M 23',
 'A 1.5',
 'FF 115',
 'A2 10',
 'FF 11/2',
 'A 18/2',
 'FF 71',
 'A3 11',
 "UTSM '96",
 'H2 277',
 'IM 159',
 'FF 167',
 'ASM 5',
 'FF 297',
 'FF 33',
 'SS2 1',
 'X:HY 9',
 'M/SHSW 8',
 'M/GN 18',
 'M/SHSW 1',
 'FF 161',
 'FF 200',
 'FF 64',
 'FF 39',
 'FF 126',
 'FF 208',
 'IG 2',
 'FF 332',
 'ROM 23',
 'FF 30',
 "GENX '96",
 'MK 35',
 'FF 105',
 'S&L 2',
 'SHOWAR 20',
 'M/TIO 75',
 'TG 23',
 'FF 142',
 'FF 233',
 'A 21',
 'FF 118',
 'ST 117',
 'M/CP 68/3',
 'M/TIO 77',
 'MARVELS 2',
 'FF2 3',
 'FF3 15',
 'FF 413',
 'CA3 1',
 'H2 278',
 'O:MU',
 'MICRO 16',
 'FF 128',
 'T2 5',
 'FF 117',
 'A 316',
 'TB 11',
 'FF 353',
 'FF 302',
 'A 221',
 'WM2 15',
 'FF 2/2',
 'CA3 7',
 'FF 124',
 'FF 333',
 'FF3 18',
 'SWII 2',
 'A 301',
 'FF 196',
 'FF 347',
 'M/TIO 5',
 'UX 14',
 'FF 139',
 'DLOK2 4',
 'UX 135',
 'FF 221',
 'Q 20',
 'FF 49',
 'IM3 35',
 'WIW 8',
 'A 151',
 'FF 192',
 'PP 62',
 'DAMCON3 4',
 'H2 153',
 'FF 305',
 'FF 349',
 'A 10',
 'FF 334',
 'A 13',
 'FF 86',
 'FF 229',
 'FF 63',
 'FF 193',
 'H2 152',
 'M/TIO 20',
 'FF3 19',
 'FF 223',
 'FF 215',
 'FF 38',
 'FF 254',
 'WM2 13',
 'MEPHV. 4',
 'FF2 9',
 'FF 213',
 'ST 131',
 'HR:R 2',
 'ST 105',
 'FF 73',
 'IW 5',
 'FF 165',
 'M/TIO 97',
 'FF 133',
 'FF3 10',
 'ST 132',
 'FF 108',
 'FF 319',
 'FF3 13',
 'FF3 43',
 'FF 220',
 'FF 199',
 'HUMAN TORCH/JOHNNY S',
 'SS3 52',
 'FF 407',
 'DRSTR2 53',
 'FF 159',
 'FF 53',
 'H2 450/2',
 'FF 1/2',
 'FF 147',
 'FF3 44',
 'FF 114',
 'FF 56',
 'S-H2 30',
 'A 1',
 'DD2 8',
 'FF 356',
 'GAL 2',
 'FF 242',
 'N 1/3',
 'MK3 41',
 'CAPTAIN AMERICA',
 'FF 240',
 'FF 78',
 'FF 197',
 'FF 40',
 'FF 371',
 'PP 34',
 'NF3 26',
 'A2 12',
 'FF 67',
 'M/TIO 74',
 'FF 150',
 'A 333',
 'A2 6',
 'M/SHSW 2',
 'FF 21',
 'A 5',
 'FF 65',
 'FF 237',
 'M/TIO 47',
 'FF 31',
 'FF3 6',
 'M/TU 100',
 'A 327',
 'FF 34',
 "UX/FF '98",
 'FF 163',
 "FF '01",
 'ST 125',
 'FF 123',
 'FF 335',
 'PM&IF 125',
 'FF 55',
 'H2 282',
 'SVTU 6',
 'A 168',
 'FF 400/2',
 'SUB-M 35',
 'FF 329',
 'FF3 27',
 'A 11',
 'AR 1',
 'FF 89',
 'H2 467',
 'FF 245',
 'FF3 37',
 'FF 187',
 'FF 112',
 'FF3 17',
 'H2 281',
 'FF 203',
 'PPTSS 89',
 'COC 3',
 'FF 232',
 'DAZZ 2',
 'DF 4.8',
 'FF 26',
 'FF3 30',
 'IG 3',
 "FF '00",
 'H2 445',
 'FF 91',
 'FF 175',
 'FF 262',
 'FF3 42',
 'UX 5',
 'FF3 45',
 'FF 122',
 'FF 1',
 'COC 1',
 'A3 25',
 'FF 339',
 'FF 121',
 'THOR/DR. DONALD BLAK',
 'UX 108',
 'AF 61',
 'IM3 14',
 'FF 241',
 'FF 214',
 'DD 2',
 'FF 330',
 'M/SS 1',
 'FF 344',
 'FF3 7',
 'M/SHSW 11',
 'FF 177',
 'FF 343',
 'FF 85',
 'GZILL 23',
 'FF 244',
 'A 305',
 'A 280',
 'FF 130',
 'FF 361',
 'FF3 20',
 'FF 256',
 'MR. FANTASTIC/REED R',
 'M/TIO 70',
 'AWC 75',
 'AF 93',
 'A 227',
 'O:X',
 'MICRO 17',
 'ST 134',
 'CPU 1',
 'A 216',
 'FF 218',
 'DF 4.7',
 'A 127',
 'SPIDER-MAN/PETER PARKER',
 'SS3 54',
 'FF 57',
 'ST 119',
 'HR:R 4',
 'DF 3.5',
 'MICRO 15',
 'WOSM 76',
 'A 128',
 'T 14',
 'FF 95',
 'SVTU 7',
 'FF 171',
 'UX 336',
 'M/SHSW 9',
 'A 317',
 'GAL 1',
 'M/TE 13',
 'FF 158',
 'FF 348',
 'IRON MAN/TONY STARK',
 'H2 321',
 'M/TU 10',
 'DAZZ 1',
 'FF 286',
 "FF '99",
 'FF 412',
 'MEPHV. 3',
 'FF 84',
 'FF 68',
 'FF 252',
 'FF 340',
 'A 118',
 'FF 205',
 'X 71',
 'M/TU 3',
 'FF 250',
 'TG 10',
 'M/TU 2',
 'Q 39',
 'UX 9',
 'FF 83',
 'FF3 22',
 'FF 43',
 'FF 62',
 'DF 1.1',
 'FF 234',
 'A 302',
 'FF 3',
 'FF 363',
 'IW 4',
 'AF 111',
 'FF 94',
 'FF 247',
 'FF 198',
 'FF 222',
 'ASM 18',
 'MM 15',
 'M/TIO 16',
 'FF 25',
 'ST 106',
 'FF 35',
 'FF 328',
 'FF3 4',
 'FF 15',
 'FF 364',
 'FF 416',
 'IW 2',
 'FF3 25',
 'FF 170',
 'A 51',
 'FF 9',
 'ST 116',
 'A 329',
 'FF 345',
 'FF 143',
 'TB 10',
 'FF3 9',
 'FF 169',
 'FF 414',
 'ASM2 1',
 'RH2 5',
 'FF 331',
 'GAL 4',
 'FF 166',
 'FF 266',
 'FF 274',
 'FF 352',
 'FF 261',
 'FF 271',
 'MAXSEC 1',
 'FF 255',
 'A 2',
 'FF 29',
 'FF 113',
 'A 18',
 'FF 97',
 'FF 304',
 'FF 162',
 'FF 211',
 'FF 60',
 'H 11',
 'ST 107',
 'FF 134',
 'FF3 21',
 'A 308',
 'FF 216',
 'FF 127',
 'FFV.X 2',
 'FF 410',
 'AR 2',
 'ST 126',
 'FF 337',
 'FF 268',
 'FF2 12',
 'T 305',
 'FF 176',
 'FF2 2',
 'DF 3.6',
 'FF2 11',
 'FF3 1',
 'FF2 7',
 'FF 365',
 'FF 148',
 'DD 164',
 'A3 39',
 'SVTU 5',
 'FF 225',
 'FF 172',
 'M/FAN 14',
 'M/SHSW 4',
 'FF 236',
 'FF 373',
 'M/GN 1',
 'SENTRY 2',
 'FF3 29',
 'FF 140',
 'ST 112',
 'DH 9',
 'FF3 8',
 'IG 6',
 'FF 415',
 'H2 279',
 'DLOK2 5',
 'FF 401',
 'FF 77',
 'MEPHV. 1',
 'FF 72',
 'IFW 2',
 'ASM 8/2',
 'FF 22',
 'FF 54',
 'FF3 24',
 'M/FEA 11',
 'IM2 3',
 'FF 37',
 'A 14',
 'A 12',
 'M/K 6',
 "UTSM '97",
 'FF 87',
 'FF 298',
 'FF 5',
 'M/GN 17',
 'WCA 1',
 'FURY 1',
 'WOSM 5',
 'FF 173',
 'FF 7',
 'M/TIO 7',
 'M/SHSW 7',
 'AWC 4',
 'IM 275',
 'A 332',
 'FF3 23',
 'FF 357',
 'FF 185',
 'FF 369',
 'A 94',
 'FF 181',
 'SHOWAR 19',
 'FF3 34',
 'FF 227',
 'FF 51',
 'M/TIO 27',
 'A 314',
 'FF 10',
 'DEF2 1',
 'MK3 44',
 'FF 19',
 'M/:LG 7',
 'FF 27',
 'IW 6',
 'FF 231',
 'ROA 3 & ROA 4',
 'A3 1',
 'H2 250',
 'FF 110',
 'PPTSS 263',
 'FF2 10',
 'FF 306',
 'MICRO 40',
 'FF 36',
 'FF 174',
 'ASM 215',
 'A 233',
 'FF 111',
 'A 3',
 'FF 116',
 'FF 164',
 'DAZZ 4',
 'RH2 4',
 'FF2 5',
 'FF 8',
 'H2 365',
 'SS 17',
 'SS3 16',
 'SS 6',
 'FF3 36',
 'FF 69',
 'FF 107',
 'H2 283',
 'FF3 28',
 'IM2 6',
 'FF 101',
 'THING/BENJAMIN J. GR',
 'FF 125',
 'GSSS 1',
 'IM2 12',
 'FF 326',
 'Q 38',
 'TTA 59',
 'M/TIO 2',
 'M/SHSW 12',
 'T 233',
 'FF 296',
 'FF 307',
 'FFV.X 3',
 'COH 3',
 'FF 204',
 'FF 20',
 'FF 88',
 'H2 123',
 'FF 300',
 'FF 48',
 'FF 368',
 "T '99",
 'FF3 14',
 'FF 59',
 'FF 119',
 'FF 28',
 'FF3 3',
 'AA2 2',
 'A 144',
 'M/TIO 28',
 'FF 267',
 'FF 235',
 'M/SHSW 10',
 'SS3 14',
 'SS3 146',
 'FF 299',
 'M/TIO 80',
 'ASM 16',
 'ST 118',
 'FF 212',
 'M/TIO 1',
 'FF 395',
 'T 271',
 'FF 246',
 'FF 12',
 'FF 186',
 'FF 168',
 'FF 58',
 'FF 182',
 'FF 219',
 'FF 6',
 'FF 228',
 'FF 346',
 'Q 28',
 'FF3 2',
 'ST 156',
 'M/FAN 43/2',
 'FFV.X 1',
 'FF 76',
 'FF 44',
 'H2 122',
 'N 13',
 'FF3 16',
 'FF 45',
 'M/TIO 46',
 'FF 367',
 'FF 120',
 'SS 5',
 'FF 239',
 'ST 130',
 'FF 11',
 'FF 249',
 'M/TIO 92',
 'FF 160',
 'FF 179',
 'A 400',
 'FF 224',
 'FF 257',
 'FF 46',
 'M/TU 61',
 'X:HY 20',
 'FF 90',
 'FF 14',
 'T 402',
 'A3 10',
 'FF3 40',
 'DAZZ 18',
 'A 307']

In [83]:

data = [type_1,n,
        list(Hubs(G1, type = 1 , N = n).keys())]

In [108]:
col_names = ["Graph type","N","HUBS"]

data = [type_1,n,
        list(Hubs(G1, type = 1 , N = n).keys())]



table_hubs = PrettyTable(col_names)

# Creating a list that we want to tabulate
table_hubs.add_row(data)
#table_hubs.add_row(data_2)


# Printing the tabulated list
print(table_hubs)

+------------+-----+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Graph type |  N  |                                                                                                                                                                       HUBS                                                                                                                                                                      |
+------------+-----+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|     1      | 300 | ['WOLVERINE/LOGAN', 'WASP/JANET VAN DYNE', 'SCARLET WITCH/WANDA', 'THING/BENJAMIN J. GR', 'CAPTAIN AMERICA', 'CYCLOPS/SCOTT SUMMER', 'STORM/ORORO MUNROE S', 'MR. FANTASTIC/REED R', 'INVISIBLE WOMAN/SUE', 'IRON MAN/TONY STARK', 'HUMAN TORCH/JOHNNY S', 'THOR/DR. DONALD BLAK', 'SPIDER-MAN/PETER PARKER', 'VISION', 'BEAST/HENRY &HANK& P'] |
+------------+-----+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+